<!DOCTYPE html>
<html>
<head>
<title>welt_raum Vielen Dank!</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">

</head>

<body>
<div class="main">
<h1>welt_raum Events</h1></br>

<p>Du hast dich erfolgreich angemeldet. Vielen Dank!</p>
<p>Eine E-Mail mit allen Informationen wurde an die von dir angegebene Adresse geschickt. Kurz vor dem Event melden wir uns auch nochmal bei dir!</p>
<a href="http://welt-raum.org/">Zurück zur Webseite</a>
</br>
</div>


</body>
</html>